gunicorn==19.6.0
honcho==0.6.6
pyodbc==4.0.14
unidecode==0.04.19
newrelic>=2.66,<2.67
titlecase==0.8.2

git+git://github.com/superdesk/superdesk-core.git@20213e8#egg=Superdesk-Core
git+git://github.com/superdesk/superdesk-planning.git@7f9ead0#egg=superdesk-planning
