gunicorn==19.6.0
honcho==0.6.6
pyodbc==4.0.14
unidecode==0.04.21
newrelic>=2.66,<2.67
titlecase==0.8.2
pyasn1==0.3.7
geopy==1.11.0
slackclient==1.0.9
pyasn1==0.3.7
gtfs-realtime-bindings==0.0.5
protobuf3-to-dict==0.1.5

git+git://github.com/superdesk/superdesk-core.git@master#egg=Superdesk-Core
git+git://github.com/superdesk/superdesk-planning.git@master#egg=superdesk-planning
git+git://github.com/superdesk/superdesk-analytics.git@master#egg=superdesk-analytics
