gunicorn==19.6.0
honcho==0.6.6
pyodbc==4.0.14
unidecode==0.04.21
newrelic>=2.66,<2.67
titlecase==0.8.2
pyasn1==0.3.7
geopy==1.11.0
slackclient==1.0.9
pyasn1==0.3.7

git+git://github.com/superdesk/superdesk-core.git@e65c51a53#egg=Superdesk-Core
git+git://github.com/superdesk/superdesk-planning.git@42c000d3#egg=superdesk-planning
git+git://github.com/superdesk/superdesk-analytics.git@fb61ac71#egg=superdesk-analytics
